body{
    background-image: url('sky.jpg');
    font-family: 'Courier New', Courier, monospace;

}

#title{
    color: white;
    text-align: center;
    padding: 15px;
}

#description{
    color: white;
    text-align: center;
    font-size: 18px;
    
}

#form-container{
    width: 60%;
    background-color: white;
    opacity: .7;
    margin: auto;
    padding: 20px;
}

#survey-form{
    padding:10px 20px 10px 20px;
    
}


label{
    color: black;
    
   
    
}

.text-input{
    
    width: 98%;
    margin: auto;
    padding: 5px;

}
select{
    width: 100%;
    padding: 5px;
    font-size: 15px;
}
option{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
input[type=radio]{
    width: 25px;
    margin: 0px;
    color: white;
}
.radio{
    display: inline-block;
}
textarea{
    width: 99%;
    font-size: 15px;
}

#submit{
    width: 100%;
    color: white;
    background-image: url('sky.jpg');
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
}
