body{
    background-image: url('sky.jpg');
    font-family: 'Courier New', Courier, monospace;

}

#title{
    color: white;
    text-align: center;
    padding: 15px;
}

#description{
    color: white;
    text-align: center;
    font-size: 18px;
    
}

#form-container{
    width: 60%;
    background-color: white;
    opacity: .5;
    margin: auto;
}

#survey-form{
    padding:10px 20px 10px 20px;
    
}


label{
    color: black;
    
   
    
}

.text-input{
    
    width: 98%;
    margin: auto;
    padding: 5px;

}