
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    
    background-color: #eeeeee;
    
}
#container{

    display: flex;
    flex-direction: row;


}
#main-doc{
    /* width: 77%; */
    
    /* z-index: 1; */
}
.code {
    width: 90%;
    padding: 20px;
    background-color: gainsboro;
}

#main-doc header{
    font-size: 25px;
}

#main-doc .section-body{
    margin-left: 25px;
}

#main-doc .main-section{
    margin-bottom: 30px;
}

#main-doc li{
    margin-bottom: 10px;
}
#left{
    width: 23%;
}

#navbar a{
    color: black;
    text-decoration: none;
}
#navbar a:visited{
    color: black;
}
#right{
    width: 77%;
    margin-left: 100px;
    margin-top: 45px;
    margin-right: 10px;
}
#navbar{
    margin: 0px;
    padding: 0px;
    height: 100%;
    
    z-index: 1;
    position: fixed;
    border-right: 1px solid black;
    overflow-y: scroll;
    clear: both;
   
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

#navbar li{
    left: 0;
    padding: 20px;
    border-bottom: 1px solid black;
}

#navbar h3{
    text-align: center;
}

