body{
    background-color: #eee;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

#header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#left{
    width: 20%;
}
#nav-bar{
    width: 35%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
}

a:visited{
    color: black;
}

