body{
    background-color: #eee;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

#header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: fixed;
    background-color: #eee;
    top: 0;

}

#left{
    width: 20%;
}
#nav-bar{
    width: 35%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
}

a:visited{
    color: black;
}

#features{

    display: flex;
    flex-direction: column;
    
}

.each-feature{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:small;

}
.feature-icon{
    width: 15%;
    color: orange;
    margin-top: 23px;

}
.feature-body{

    width: 75%;

}
.feature-heading{

}
.feature-description{
    display: flex;
    flex-direction: column;

}
#how-it-works{
    display: flex;
    justify-content: center;
}
#video{
    width: 40%;
    height: 300px;
    border: none;
}

#form-container{
    text-align: center;
}

#email{
    border: 1px solid gainsboro;
    padding: 5px;
    width: 25%;
}

#submit{
    border: none;
    background-color: orange;
    padding: 10px;
}