body{
    background-color: #eee;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.footer{
    text-align: center;
    background-color: gainsboro;
    padding: 20px;
}

#header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    position: fixed;
    background-color: #eee;
    top: 0;

}

#left{
    width: 20%;
}
#nav-bar{
    width: 35%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    
}

.nav-link{
    cursor: pointer;
    text-decoration: none;
}

a:visited{
    color: black;
}

#features{

    display: flex;
    flex-direction: column;
    
}

.each-feature{
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:small;

}
.feature-icon{
    width: 15%;
    color: orange;
    margin-top: 23px;

}
.feature-body{

    width: 75%;

}
.feature-heading{

}
.feature-description{
    display: flex;
    flex-direction: column;

}
#how-it-works{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin: auto;
}
#video{
    width: 45%;
    height: 300px;
    border: none;
    margin: auto;
}

#form-container{
    text-align: center;
}

#email{
    border: 1px solid gainsboro;
    padding: 5px;
    width: 25%;
}

#submit{
    border: none;
    background-color: orange;
    padding: 10px;
}

.select{

    border: none;
    background-color: orange;
    padding: 10px;
    width: 100px;

}

#pricing{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    width: 30%;
    height: 300px;

}
.box-head{
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    font-size: 20px;

}
.box-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    margin: 5px;
}

.amount{
    font-size: 25px;
}



@media (max-width:360px){
    #pricing{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;
    }
    

    .box{
        border: 2px solid black;
        width: 100%;
        height: 300px;
    
    }
    .box-head{
        background-color: gainsboro;
        padding: 20px;
        text-align: center;
        font-size: 20px;
    
    }
    .box-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p{
        margin: 5px;
    }
    
    .amount{
        font-size: 25px;
    }

    #how-it-works{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #video{
        width: 100%;
        height: 300px;
        border: none;
        margin: auto;
    }
    .video-container{
        margin: auto;
    }
    #email{
        border: 1px solid gainsboro;
        padding: 10px;
        width: 80%;
    }
    
    #submit{
        border: none;
        background-color: orange;
        padding: 10px;
    }

    .each-feature{
        width: 100%;
        margin:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size:small;
        text-align: center;
    
    }
    #header{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        width: 100%;
        margin: auto;
        background-color: #eee;
        top: 0;
    }
    #nav-bar{
        width: 35%;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        margin-top: 2px;
        
}